/JavaApplication_01/nbproject/private/
/JavaApplication_01/build/
/JavaApplication47/nbproject/private/
/JavaApplication_02/nbproject/private/
/JavaApplication_02/build/
/JavaApplication_03_a/nbproject/private/
/JavaApplication_03_a/build/
/JavaApplication_03_b/nbproject/private/
/JavaApplication_03_b/build/
/Workshop1/nbproject/private/
/Workshop1/build/
/JavaApplication_06_a/nbproject/private/
/JavaApplication_06_b/nbproject/private/
/JavaApplication_06_b/build/
/JavaApplication_07_a/nbproject/private/
/JavaApplication_07_a/build/
/JavaApplication_08/nbproject/private/
/JavaApplication_08/build/
/Workshop3/nbproject/private/
/Workshop4/nbproject/private/
/Workshop4/build/
/JavaApplication_11a/nbproject/private/
/JavaApplication_11b/nbproject/private/
/ASM/ASM03/Q3/src/build/
/JavaApplication_13/nbproject/private/
/JavaApplication_14/nbproject/private/
/JavaApplication_14/build/
/JavaApplication_14_b/nbproject/private/
/JavaApplication_14_b/build/
/ASM/ASM05/Q5/src/dist/
/ASM/ASM05/Q5/src/build/
/ASM/ASM04/Q4/src/dist/